/* DESKTOP VERSION */

body {
    background-color: rgb(208, 124, 216);
    max-width: 1200px;
}

.header,
.footer,
.articlePubli {
    background-color: rgb(10, 10, 10);
    margin-bottom: 3%;
    display: flex;
}

.header,
.footer {
    padding: 1%;
    flex-direction: column;
}

.articleContainer {
    display: flex;
}

.publiContainer {
    display: flex;
    flex-direction: column;
}

.articlePubli {
    display: flex;
}

.boxBlueGrey,
.boxOrange {
    margin: 2% auto;
}

.boxBlueGrey {
    background-color: rgb(72, 90, 128);
    display: flex;
    width: 95%;
}

.boxOrange {
    background-color: rgb(247, 120, 47);
    width: 95%;
}

.banner {
    background-color: rgb(247, 184, 47);
    width: 96%;
    font-size: 30px;
    font-weight: bold;
    margin: 2% auto;
    pad: 1%;
}

.boxRed {
    background-color: rgb(185, 52, 52);
    width: 30%;
    margin: 3% auto;
    display: flex;
    flex-direction: column;
}

.boxGrey {
    background-color: rgb(88, 97, 116);
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 3% auto;
}

.logo,
.social,
.nav {
    background-color: tomato;
    padding: 1%;
}

.nav {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 60%;
}

.logo,
.social {
    margin: 2%;
    width: 20%;
}

.logo {
    cursor: pointer;
    transition: transform 1s, background-color 1s;
}

.logo:hover {
    transform: scale(1.15);
    background-color: deeppink;
}

.pie {
    background-color: rgb(255, 234, 141);
    padding: 1%;
    margin: 2% auto;
    width: 95%;
}

.publi {
    background-color: rgb(255, 230, 0);
    padding: 3%;
    margin: 6% auto;
    width: 85%;
}

.article {
    background-color: rgb(78, 124, 223);
    padding: 2%;
    margin: 3%;
    width: 50%;
}

.navegacion {
    background-color: rgb(155, 184, 247);
    padding: 2%;
    margin: 3%;
    width: 100%;
}

/* TABLET VERSION */
@media only screen and (max-width: 768px) {

    body {
        background-color: rgb(135, 252, 193);
    }

    .header,
    .footer {
        display: flex;
    }

    .articlePubli {
        display: flex;
        flex-direction: column;
    }

    .boxBlueGrey {
        display: flex;
        padding: 1%;
    }

    .logo,
    .social,
    .nav {
        width: 94%;
    }

    .nav {
        margin: 2%;
    }

    .boxGrey,
    .boxRed {
        width: 92%;
        padding: 1%;
        margin: 3%;
    }

    .boxOrange {
        width: 97%;
    }

    .banner {
        padding: 1%;
        margin: 3% auto;
    }

    .publiContainer {
        display: flex;
    }

    .publi {
        margin-bottom: 0%;
        margin: 3%;
        width: 88%;
    }

    .article,
    .navegacion {
        margin: 3%;
        width: 91%;
    }

}

/* MOBILE VERSION */
@media only screen and (max-width: 600px) {

    body {
        background-color: rgb(252, 135, 135);
    }

    .boxBlueGrey {
        display: flex;
    }

    .boxOrange {
        width: 97%;
    }

    .logo,
    .social,
    .nav {
        width: 94%;
    }

    .nav {
        margin: 2%;
    }

    .articlePubli {
        display: flex;
    }

    .articleContainer,
    .publiContainer {
        width: 94%;
    }

    .articleContainer {
        display: flex;
        flex-direction: column;
    }

    .publi {
        margin: 3% auto auto auto auto;
        width: 95%;
    }

    .boxGrey,
    .boxRed {
        width: 92%;
    }

    .article,
    .navegacion {
        margin: 2%;
        width: 98%;
    }

    .banner {
        width: 93%;
        padding: 1%;
    }

}